@using TestWebSocketApplication2.Models;
@model User
@{
	var connection = System.Configuration.ConfigurationManager.AppSettings["WebSocketConnection"];
	var mainPage = $"{System.Configuration.ConfigurationManager.AppSettings["HttpConnection"]}/Auth/Index";
}
<!DOCTYPE html>
<html>
<body>
	<div>
	</div>
</body>
</html>