@page

<!DOCTYPE html>
<html>
<head>
	<title>Page Title</title>
</head>
<body>
	<div>
		<form method="post" name="login">
			<input type="text" name="email" />
			<input type="password" name="password" />
			<input type="submit" name="login_button" />
		</form>
	</div>
</body>
</html>