<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="DatabaseConnection" value="Server=DESKTOP-KO8IAMA;Database=master;Trusted_Connection=True;TrustServerCertificate=true;"/>
		<add key="WebSocketConnection" value="ws://localhost:5000/ws"/>
		<add key="HttpsConnection" value="http://localhost:5000"/>
		<add key="HttpsAddress" value="127.0.0.1"/>
		<add key="HttpsPort" value="5000"/>
	</appSettings>
</configuration>